files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      proxy_buffering on;
      proxy_buffer_size 128k;
      proxy_buffers 8 256k;
      client_body_buffer_size 256k;
      proxy_busy_buffers_size 256k;
      fastcgi_buffers 16 16k;
      fastcgi_buffer_size 32k;
